.site-header {
    background-color: $color__background-header; 
    padding: 1rem 0;

    .header-container {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .site-title {
        margin: 0;
        font-size: 2rem; 

        a {
            color: $color__text-light; 
            text-decoration: none; 
            font-weight: 700; 
        }
    }

    .menu-toggle {
        display: none;
        background-color: $color__background-header;
        border: none;
        color: $color__background-header;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    svg path {
        fill: $color__text-light;
    }
;

    .main-navigation {
        display: block;
        width: auto; 

        ul {
            display: none;
            list-style: none;
            margin: 0;
            padding-left: 0;

            ul {
                background-color: $color__background-header;
                float: left;
                position: absolute;
                top: 100%;
                left: -999em;
                z-index: 99999;
                display: flex;
                flex-direction: column;
                margin-left: -1rem;
                padding: 1rem;

                ul {
                    left: -999em;
                    top: 0;
                }

                li {
                    &:hover > ul,
                    &:focus > ul {
                        display: block;
                        left: auto;
                    }
                }

                a {
                    width: 200px;
                    color: $color__text-light; 
                }

                a:hover,
                a:focus {
                    color: $color__text-screen; 
                }
            }

            li:hover > ul,
            li.focus > ul {
                left: auto;
            }
        }

        li {
            position: relative;
            &:hover > a,
            &.focus > a {
                color: $color__text-light; 
            }
        }

        a {
            display: block;
            text-decoration: none;
            color: $color__text-light; 
        }

        .current_page_item > a,
        .current-menu-item > a,
        .current_page_ancestor > a,
        .current-menu-ancestor > a {
            color: $color__text-light;
        }
    }
    /* Small menu. */
    .menu-toggle,
    .main-navigation.toggled ul {
        display: block;
    }
    
    .main-navigation.toggled ul {
        position: absolute;
        top: 6.5rem;
        left: 0;
        background-color: $color__background-header;
        width: 100%;
    }
    
    
    @media screen and (min-width: 37.5em) {
    
        .menu-toggle {
            display: none;
        }
    
        .main-navigation ul {
            display: flex;
            gap: 2rem;
            justify-content: end;
            align-items: center;
        }
    }
    
    .comment-navigation,
    .posts-navigation,
    .post-navigation {
    
        .site-main & {
            margin: 0 0 1.5em;
        }
    
        .nav-links {
            display: flex;
        }
    
        .nav-previous {
            flex: 1 0 50%;
        }
    
        .nav-next {
            text-align: end;
            flex: 1 0 50%;
        }
    }
}    