.home {

    h1 {
        text-align: left;
    }    

    .site {

        .blog-posts {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px; 
            justify-items: center;
            width: 100%;
            padding: 20px;   
  
            h2 {
                grid-column: 1 / -1; 
                text-align: left; 
                margin-bottom: 20px; 
                justify-self: start;
            }

            article {
                position: relative;
            }    
            
            h3 {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                width: 100%;
                margin: 0;
                padding: 1em;
                font-size: 1em;
                text-align: center;
                background: rgba(255,255,255,.8);
            }

            a {
                margin: 0 auto 1em;
            }

            p {
                text-align: left;
                width: 100%;
            }
        }   

        @media screen and (min-width: 37.5em) {

            .blog-posts {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px; 
                justify-items: center;
                width: 100%;
                padding: 20px; 
            }

            article {
                text-align: center; 
            }        
    
            .wp-block-group__inner-container {
                display: flex;
                padding: .625rem;

                h2 {
                    text-align: center;
                }
            
                .blog_group1, 
                .blog_group2 {
                    flex:1;

                    div {
                        display: block;
                    }
                }    
            }          
        }
    }
}